// app global css in SCSS form
@font-face {
    font-family: 'custom_font' ;
    src: url("../css/Font/mont_bold.otf");
    src: url("../css/Font/mont_reg.otf");
    src: url("../css/Font/nova_reg.otf");
}

.font1{
    font-family: 'custom_font' , 'mont_reg';
}
.font2{
    font-family: 'custom_font' , 'nova_reg';
}

.font3{
    font-family: 'custom_font' , 'mont_bold';
}

.q-page-container.user-layout {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


.test-container{
    position: inherit;
}

.custom-page-container{
    position: fixed;
    width: inherit;
}
.custom-enter-active {
    transition: translateX(10px) .3s ease;
  }

.fadeInLeft{
    --animate-duration: 1500ms;
    --animate-delay: 2s;
}
.fadeInRight{
    --animate-duration: 1500ms;
    --animate-delay: 2s;
}

.fadeOutRight{
    --animate-duration: 900ms;
    --animate-delay: 2s;

}
.fadeOut{
    --animate-duration: 300ms;
    --animate-delay: 2s;
}

.fadeIn{
    --animate-duration: 2500ms;
    --animate-delay: 2s;
}

.fadeInUp{
    --animate-duration: 1000ms;
    --animate-delay: 2s;
}
.fadeInDown{
    --animate-duration: 1300ms;
    --animate-delay: 2s;
}
