// app global css in SCSS form
.q-page-container.user-layout {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.custom-page-container{
    position: fixed;
    width: inherit;
}

.fadeInLeft{
    --animate-duration: 900ms;
    --animate-delay: 2s;
}
.fadeInRight{
    --animate-duration: 900ms;
    --animate-delay: 2s;
}

.fadeOutRight{
    --animate-duration: 900ms;
    --animate-delay: 2s;

}
.fadeOut{
    --animate-duration: 300ms;
    --animate-delay: 2s;
}

.fadeIn{
    --animate-duration: 500ms;
    --animate-delay: 2s;
}

.fadeInUp{
    --animate-duration: 900ms;
    --animate-delay: 2s;
}
.fadeInDown{
    --animate-duration: 900ms;
    --animate-delay: 2s;
}
